[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/karthick21
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/karthick21
	label-Verified = -1..+1 group user/karthick21
	push = group user/karthick21
	read = group user/karthick21
	rebase = group user/karthick21
	removeReviewer = group user/karthick21
	submit = group user/karthick21
[access "refs/heads/*"]
	create = group user/karthick21
	push = +force group user/karthick21
	pushMerge = group user/karthick21
	read = group user/karthick21
[access "refs/tags/*"]
	push = group user/karthick21
	push = +force group user/karthick21
